In [ ]:
import pandas as pd
import numpy as np
!pip install pivottablejs
from pivottablejs import pivot_ui
from IPython.display import HTML
from IPython.display import IFrame
import json, io

Collecting pivottablejs
  Downloading pivottablejs-0.9.0-py2.py3-none-any.whl (4.7 kB)
Installing collected packages: pivottablejs
Successfully installed pivottablejs-0.9.0

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df = pd.read_table("/content/drive/.../nextstrain_metadata.tsv", sep='\t')

In [ ]:
df.head(2)

,strain,date,length,submitting_lab,WHO_label,clade,Nextclade_pango,totalMissing,lineage,scorpio_call,N-content(%)
0,Covid_1,2020-12-28,29903,InSTEM,Others,20A,B.1.36.39,1929.0,B.1.36.39,NaN,6.45
1,Covid_2,2020-12-28,29850,InSTEM,Others,20A,B.1.36.39,33.0,B.1.36.39,NaN,0.11

In [ ]:
df.drop([ 'date','length', 'submitting_lab', 'WHO_label', 'clade', 'Nextclade_pango', 'totalMissing', 'lineage'], axis=1, inplace=True)

In [ ]:
df.head(2)

    strain scorpio_call  N-content(%)
0  Covid_1          NaN          6.45
1  Covid_2          NaN          0.11

In [ ]:
def label(x):
    if x < 10.0:
        return 'Ns <10%'
    if 10.0 <= x < 30.0:
        return 'Ns (10-30)%'
    if 30.0 <= x < 50.0:
        return 'Ns (30-50)%'
    return 'Ns >50%'

df['label'] = df['N-content(%)'].apply(label)

In [ ]:
df.head(2)

    strain scorpio_call  N-content(%)    label
0  Covid_1          NaN          6.45  Ns <10%
1  Covid_2          NaN          0.11  Ns <10%

In [ ]:
df.to_excel("unassigned_N-content.xlsx", index=False)

In [ ]:
# df_fig.head(2)

In [ ]:
def pivot_cht_html(df, outfile_path = "Lineage.html", url="",
    width="100%", height="400",json_kwargs='',  **kwargs):
  with io.open(outfile_path, 'wt', encoding='utf8') as outfile:
      csv = df.to_csv(encoding='utf8')
      if hasattr(csv, 'decode'):
          csv = csv.decode('utf8')
      outfile.write(TEMPLATE %
            dict(csv=csv, kwargs=json.dumps(kwargs),json_kwargs=json_kwargs))

  IFrame(src=url or outfile_path, width=width, height=height)
  return HTML(outfile_path)

pivot_ui(df,outfile_path='Lineage.html')
HTML('Lineage.html')

In [ ]:
df_fig.to_excel("Lineage.xlsx", index=False)

In [ ]:
df.to_csv('Lineage_old.csv', index=False)

In [ ]:
df.to_excel("Lineage_old.xlsx", index=False)