In [ ]:
import pandas as pd
import numpy as np
!pip install pivottablejs
from pivottablejs import pivot_ui
from IPython.display import HTML
from IPython.display import IFrame
import json, io

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pivottablejs in /usr/local/lib/python3.7/dist-packages (0.9.0)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df1 = pd.read_table("/content/drive/MyDrive/Colab Notebooks/Tools/XBB/nextstrain_metadata_batch70.tsv", sep='\t')

In [ ]:
count_row = df1.shape[0]  # Gives number of rows
#count_col = df1.shape[1]  # Gives number of columns
count_row

291

In [ ]:
df2 = pd.read_table("/content/drive/MyDrive/Colab Notebooks/Tools/XBB/2_IBDC_INSACOG-SARS-CoV2-30Aug22_INCREMENT_3911.tsv", sep='\t')

In [ ]:
count_row2 = df2.shape[0]  # Gives number of rows
#count_col = df1.shape[1]  # Gives number of columns
count_row2

3911

In [ ]:
dfF = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8], join="inner")

In [ ]:
count_row3 = dfF.shape[0]  # Gives number of rows
#count_col = df1.shape[1]  # Gives number of columns
count_row3

19489

In [ ]:
dfF.to_csv('IBDC_incremental.tsv', sep="\t", index=False)

In [ ]:
#upload_query_df
dfQ = pd.read_table("/content/drive/MyDrive/Colab Notebooks/Tools/XBB/WB-XBBv2.tsv", sep='\t')

dfMatch = df1[df1['strain'].isin(dfQ["strain"])]

dfMatch.to_csv('matchedXBB.tsv', sep="\t", index=False)

In [ ]:
dfQ.head(2)

                 strain
0  hCoV-19/India/JK1391
1  hCoV-19/India/JK1392

In [ ]:
# df1[df1['lineage'].isin(df2["lineage"])]

# #df1[~df1['lineage'].isin(df2["lineage"])]