In [ ]:
import pandas as pd
import numpy as np
!pip install pivottablejs
from pivottablejs import pivot_ui
from IPython.display import HTML
from IPython.display import IFrame
import json, io

Collecting pivottablejs
  Downloading pivottablejs-0.9.0-py2.py3-none-any.whl (4.7 kB)
Installing collected packages: pivottablejs
Successfully installed pivottablejs-0.9.0

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df1 = pd.read_table("/content/drive/MyDrive/Colab Notebooks/WA102_WHO/nextstrain_metadata.tsv", sep='\t')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (26,40) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
df1.head(1)

,strain,virus,gisaid_epi_isl,genbank_accession,date,region,country,division,location,region_exposure,...,deletions,aaDeletions,privateNucMutations.reversionSubstitutions,privateNucMutations.labeledSubstitutions,privateNucMutations.unlabeledSubstitutions,lineage,scorpio_call,scorpio_support,scorpio_conflict,note
0,Covid_1,betacoronavirus,EPI_ISL_0,?,2020-12-28,Asia,India,Andhra Pradesh,NELLORE,Asia,...,NaN,NaN,NaN,NaN,"T1947C,C8481T,C15763T,T22191C,C26622T",B.1.36.39,NaN,NaN,NaN,Alt assignments: B.1.36;B.1.36.39

In [ ]:
count_row = df1.shape[0]  # Gives number of rows
#count_col = df1.shape[1]  # Gives number of columns
count_row

163520

In [ ]:
# count_row = df1.shape[0]  # Gives number of rows
count_col = df1.shape[1]  # Gives number of columns
count_col

53

In [ ]:
df2 = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Tools/twodfcolumn/unassigned_N-content.csv")

In [ ]:
count_row = df2.shape[0]  # Gives number of rows
#count_col = df1.shape[1]  # Gives number of columns
count_row

163520

In [ ]:
# count_row = df1.shape[0]  # Gives number of rows
count_col = df2.shape[1]  # Gives number of columns
count_col

4

In [ ]:
df3 = pd.merge(df1, df2, on='strain', how='outer')

In [ ]:
count_row = df3.shape[0]  # Gives number of rows
#count_col = df1.shape[1]  # Gives number of columns
count_row

163520

In [ ]:
# count_row = df1.shape[0]  # Gives number of rows
count_col = df3.shape[1]  # Gives number of columns
count_col

56

In [ ]:
df3.head(2)

,strain,virus,gisaid_epi_isl,genbank_accession,date,region,country,division,location,region_exposure,...,privateNucMutations.labeledSubstitutions,privateNucMutations.unlabeledSubstitutions,lineage,scorpio_call_x,scorpio_support,scorpio_conflict,note,scorpio_call_y,N-content(%),label
0,Covid_1,betacoronavirus,EPI_ISL_0,?,2020-12-28,Asia,India,Andhra Pradesh,NELLORE,Asia,...,NaN,"T1947C,C8481T,C15763T,T22191C,C26622T",B.1.36.39,NaN,NaN,NaN,Alt assignments: B.1.36;B.1.36.39,NaN,6.45,Ns <10%
1,Covid_2,betacoronavirus,EPI_ISL_1,?,2020-12-28,Asia,India,Andhra Pradesh,NELLORE,Asia,...,NaN,"T1947C,C8481T,C15763T,T22191C,C26622T",B.1.36.39,NaN,NaN,NaN,Assigned from designation hash.,NaN,0.11,Ns <10%

In [ ]:
df3.to_csv('NIBMG_IBDC_Unassigned_metadata.tsv', sep="\t", index=False)